.dark-mode{
    background-color: black;
    color: white;
}
.dark-mode nav{
    background-color: rgb(110, 97, 97);
    color: white;
}
.dark-mode section{
    background-color: rgb(116, 100, 100);
    color: white;
}
.dark-mode .bg-blue-100{
    background-color: black;
    color: white;
}
.dark-mode .bg-white{
    background-color: rgb(24, 17, 43);
}
.dark-mode .text-gray-700{
    color: white;
}
body {
  margin: 0;
  height: 2000px; /* just for scroll demo */
}

#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background: #4caf50;
  z-index: 1000;
  transition: width 0.1s ease-out;
}
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: red;
  transition: width 0.3s;
}

.nav-link.active::after {
  width: 100%;
}
.project-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
#back-to-top.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
#typing::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}